<html>
<head>
<link rel="stylesheet" type="text/css" href="../Styles/Todo.css" />
<script type="text/javascript" src="../Scripts/jquery-1.8.js"></script>
<script type="text/javascript" src="../Scripts/jquery.transit.js"></script>
<script type="text/javascript" src="../Scripts/jquery.wipetouch.js"></script>
<script type="text/javascript" src="../Scripts/Todo.js"></script>
</head>
<meta charset="UTF-8">
<title>Insert title here</title>
<body>
	<ul>
		<li class="task"><span class="tiles">
				<div class="Name">Task 1</div>
				<div class="Description">This is the description of Task 1 and
					its overflowing.</div>
		</span></li>
		<li class="task"><span class="tiles">
				<div class="Name">Task 2</div>
				<div class="Description">This is the description of Task 1 and
					its overflowing.</div>
		</span></li>
		<li class="task"><span class="tiles">
				<div class="Name">Task A</div>
				<div class="Description">This is the description of Task 1 and
					its overflowing.</div>
		</span></li>
		<li class="task"><span class="tiles">
				<div class="Name">Task 3</div>
				<div class="Description">This is the description of Task 1 and
					its overflowing.</div>
		</span></li>
		<li class="task"><span class="tiles">
				<div class="Name">Task 4</div>
				<div class="Description">This is the description of Task 1 and
					its overflowing.</div>
		</span></li>
	</ul>
</body>

</html>
